/Library
/obj
/Packages
/ProjectSettings
/Temp
/Logs
/Builds
/collabignore
/UserSettings

.vs
.vsconfig
.idea
*.csproj
*.sln
*.png
*.png.meta
*.csv
*.csv.meta
/Assets/Low-Poly Style Nature
/Assets/44.1 General Library (Free Sample Pack)
/Assets/Nature Sound FX/
/Assets/Plugins/
/Assets/experiment_log.db
/Assets/experiment_log.db.meta
/Assets/experiment_log.db-journal.meta


!/Assets/Plugins/sqlite3.def
!/Assets/Plugins/sqlite3.dll

/Assets/TextMesh Pro/
