/Library
/obj
/Packages
/ProjectSettings
/Temp
/Logs
/Builds
/collabignore
/UserSettings

.vs
.vsconfig
.idea
*.csproj
*.sln
*.png.meta
*.csv
*.csv.meta
/Assets/Low-Poly Style Nature
/Assets/44.1 General Library (Free Sample Pack)
/Assets/Nature Sound FX/
/Assets/Plugins/
/Assets/TextMesh Pro/
!/Assets/ReplayData/movement.csv
/Assets/landmarks/BasAssetStore/LowPolyVillage/Meshes/Other_Objects/watch_tower.fbx
/Assets/landmarks/Low_Poly_Mini_Village/Art/Meshes/road_sign1.fbx
